<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RewriteFiles.Properties.Settings.ConnectionString"
            connectionString="Data Source=109.226.17.186,2026;User ID=sean;Password=7536987"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="pathWebUI" value="C:\Users\roysh_000\Desktop\TestDir\"/>
  </appSettings>
</configuration>